* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Roboto', sans-serif;   
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  background-color: red;
  color: white;
  font-size: 25px;
  width: 100%;
  padding: 20px 0 20px 0;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
}

main {
  width: 80%;
  margin-top: 50px;
}

.errorContainer {
  width: 100%;
}

.errorFigure {
  max-width: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), white);
  padding: 40px;
  text-align: center;
}

.errorFigure img {
  width: 100%;
}

.errorFigure figcaption {
  width: 100%;
  color: red;
  margin-top: 50px;
  font-size: 40px;
}

.counterContainer {
  display: flex;
  font-size: 40px;
  justify-content: space-around;
}

.counterContainer button {
  background-color: red;
  border: none;
  border-radius: 20px;
  padding: 0 45px 0 45px;
  font-size: 30px;
}

.counterContainer button:hover {
  background-color: black;
  color: red;
}

.allQuizzes {
  width: 100%;
}

.allQuizzesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 480px);
  justify-content: space-between;
  row-gap: 20px;
  align-items: center;
}

.allQuizzesContainerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.allQuizzesContainer div {
  /* width: 480px; */
  border-radius: 8px;
  /* height: 200px; */
}

.allQuizzesContainer div figure {
  width: 100%;
  position: relative;
}

.allQuizzesContainer div figure img {
  width: 100%;
}

.allQuizzesContainer div figure figcaption {
  color: white;
  font-weight: 600;
  position: absolute;
  bottom: 20px;
  left: 25px;
}

.noQuizzesContainer {
  /* background-color: green; */
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 44% 0 44%;
  border: 1px dashed rgb(170, 170, 170);
}

.noQuizzesContainer p {
  /* background-color: rebeccapurple; */
  text-align: center;
  color: gray;
}

.noQuizzesContainer button {
  border: 1px dashed red;
  border-radius: 18px;
  padding: 10px 20px 10px 20px;
  color: red;
  background-color: transparent;
}

.noQuizzesContainer button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.myQuizzes {
  /* background-color: red; */
  margin-bottom: 40px;
}